* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: nunito;
   src: url(./assets/fonts/NunitoSans.ttf);
}

:root {
   --blue: #4880ff;
   --white: #ffffff;
   --gray: #f5f6fa;
   --light-gray: #fcfdfd;
   --black: #202224;
   --gray-text: #606060;
   --red: 239, 56, 38;
   --green: #00b69b;
}

body {
   font-family: nunito;
   background-color: var(--gray);
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
   border: 0;
}

.green-text {
   color: var(--green);
}
