* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: nunito;
   src: url(./assets/fonts/NunitoSans.ttf);
}

:root {
   --blue: #4880ff;
   --white: #ffffff;
   --gray: #f5f6fa;
}

body {
   font-family: nunito;
   background-color: var(--gray);
}
