.dashboard-overview-card {
   background-color: var(--white);
   border-radius: 14px;
   box-shadow: 6px 6px 54px 0 rgba(0, 0, 0, 0.05);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 100%;
}
