.dashboard-overview-card {
   background-color: var(--white);
   border-radius: 14px;
   box-shadow: var(--box-shadow);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 100%;
}
