.home {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.home h1 {
   font-size: 2rem;
   font-weight: bold;
}
.home .dashboard-overview {
   display: flex;
   gap: 30px;
}

.home .dashboard-overview-card-top {
   display: flex;
   justify-content: space-between;
}
.home .dashboard-overview-card-top-left {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.home .dashboard-overview-card-bottom p {
   display: flex;
   gap: 0.5rem;
}

.home .dashboard-overview-card h2 {
   font-size: 28px;
}
