.closed-sidebar.sidebar-wrapper {
   width: max-content;
}
.sidebar-wrapper {
   display: flex;
   flex-direction: column;
   width: 240px;
   height: 100vh;
   background-color: white;
}

.logo {
   font-size: 1.25rem;
   font-weight: 800;
   color: #4880ff;
   align-self: center;
   padding-block: 24px;
}
.closed-sidebar .sidebar {
   padding: 6px 12px;
}
.sidebar {
   display: flex;
   flex-direction: column;
   padding: 6px 24px;
}

.sidebar-account {
   margin-top: auto;
   display: flex;
   flex-direction: column;
   padding: 42px 24px;
   border-top: 1px solid #e0e0e0;
}

.closed-sidebar .nav-link {
   justify-content: center;
   padding: 12px 8px;
}

.nav-link {
   display: flex;
   align-items: center;
   gap: 16px;
   width: 100%;
   padding: 12px 16px;
   border-radius: 6px;
   cursor: pointer;
}

.nav-link.active {
   background-color: var(--blue);
   position: relative;
}

.nav-link.active::before,
.closed-sidebar .nav-link.active::before {
   content: ' ';
   background-color: var(--blue);
   position: absolute;
   height: 100%;
   width: 3px;
   left: -12px;
}

.nav-link.active::before {
   left: -24px;
}
.sidebar a,
.sidebar-account a {
   text-decoration: none;
   color: inherit;
   font-weight: 600;
   font-size: 0.8rem;
}

.sidebar a.active {
   color: var(--white);
}
.sidebar-account a.active {
   color: var(--white);
}

.sidebar .nav-link.active span svg {
   fill: white;
}
