.sidebar-wrapper {
   display: flex;
   flex-direction: column;
   width: 240px;
   height: 100vh;
   background-color: white;
}

.logo{
   font-size: 1.25rem;
   font-weight: 800;
   color: #4880FF;
   align-self: center;
   padding-block: 24px;
}

.sidebar {
   display: flex;
   flex-direction: column;
   padding: 6px 24px;
}

.sidebar > .nav-link:last-child {
   padding-bottom: 32px;
   border-bottom: 1px solid #e0e0e0;
}

.sidebar-account {
   margin-top: auto;
   display: flex;
   flex-direction: column;
   padding: 42px 24px;
   border-top: 1px solid #e0e0e0;
}

.nav-link {
   display: flex;
   align-items: center;
   gap: 16px;
   width: 100%;
   padding: 12px 16px;
   border-radius: 6px;
   cursor: pointer;
}

.nav-link.active {
   background-color: #4880ff;
}

.sidebar a,
.sidebar-account a {
   text-decoration: none;
   color: inherit;
   font-weight: 600;
   font-size: 0.8rem;
}

.sidebar a.active {
   color: white;
}
.sidebar .nav-link.active span svg {
   fill: white;
}
