.payments h1 {
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 23px;
}
.payments .tableWrapper {
   margin-top: 24px;
   border: 1px solid rgba(185, 185, 185, 0.3);
   border-radius: 14px;
   overflow: hidden;
   box-shadow: 6px 6px 54px 0 rgba(0, 0, 0, 0.0288);
}
.payments table {
   border-spacing: 0;
   width: 100%;
   overflow: hidden;
   border-collapse: collapse;
}
.payments .firstRow {
   background-color: var(--light-gray);
}
.payments .firstRow th {
   padding: 11px 24px;
}
.payments tr {
   background-color: var(--white);
   border-bottom: 1px solid rgba(185, 185, 185, 0.3);
}
.payments th {
   color: var(--black);
   font-weight: bold;
}
.payments td {
   padding: 16px 32px;
   color: var(--black);
}
.payments .status {
   padding: 6px 16px;
   width: 100%;
   border-radius: 5px;
   text-align: center;
}
.payments .status.unpaid {
   background-color: rgba(255, 167, 86, 0.2);
   color: #ffa756;
}
.payments .status.paid {
   background-color: rgba(0, 182, 155, 0.2);
   color: #00b69b;
}

.payments .errorMessage {
   padding: 1rem;
   color: rgb(var(--red));
   background-color: rgba(var(--red), 0.2);
}
