.payments h1 {
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 23px;
}
.payments .tableWrapper {
   margin-top: 1.5rem;
   border: 1px solid rgba(185, 185, 185, 0.3);
   border-radius: 14px;
   overflow: hidden;
   box-shadow: 6px 6px 54px 0 rgba(0, 0, 0, 0.0288);
}
.payments table {
   border-spacing: 0;
   width: 100%;
   overflow: hidden;
   border-collapse: collapse;
}
.payments .firstRow {
   background-color: var(--light-gray);
}
.payments tr {
   background-color: var(--white);
   border-bottom: 1px solid rgba(185, 185, 185, 0.3);
}
.payments th {
   padding: 1rem 2rem;
   color: var(--black);
   font-weight: bold;
}
.payments td {
   padding: 1rem 2rem;
   color: var(--black);
}
.payments .status {
   padding: 0.375rem 1rem;
   width: max-content;
   border-radius: 5px;
}
.payments .status.pa-paguar {
   background-color: rgba(98, 38, 239, 0.2);
   color: #6226ef;
}
