header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 16px 32px;
   background-color: var(--white);
}
header .headerLeft,
header .headerRight,
.language-switcher {
   display: flex;
}
header .headerLeft,
header .headerRight {
   gap: 1.5rem;
   align-items: center;
}
.language-switcher {
   align-items: center;
   gap: 1rem;
}

.profile-wrapper {
   display: flex;
   align-items: center;
   gap: 1rem;
}

header .headerLeft input {
   width: 388px;
   height: 38px;
   border-radius: 20px;
   padding: 0.6rem;
   outline: 0;
   border: 1px solid var(--border-color);
   color: #202224;
}
header .headerLeft input::placeholder {
   color: #202224;
}

header .burger-wrapper i {
   cursor: pointer;
}
